{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="main-gallery"></div>
  <div class="make" style="display: none;"></div>
{% endblock %}
{% block scripts %}
  <script>
// needed variables
var LIMIT = 30;

var mainGallery = document.querySelector( ".main-gallery" ),
    $mainGallery = $( mainGallery ),
    $makeTemplate = $( ".make" );

// needed methods
function searchCallback( data ){
  var $makeContainer = $makeTemplate.clone( true ).css( "display", "" ),
      makeContainer = $makeContainer[ 0 ];

console.log(data)
  // create front Element & populate
  $frontEl = $('<div>').addClass('front');
  $itemTitle = $('<div>').addClass('make-item-title');
  $itemTitle.text( data.title );
  $img = $( '<img>' ).attr( 'src', data.thumbnail );
  $frontEl.append( $itemTitle );
  $frontEl.append( $img );

  // create back element & populate
  $backEl = $('<div>').addClass('back');
  $backEl.text( data.description );

  // add front & back elements to flip container
  $flip = $('<div>').addClass('flipContainer');
  $flip.append( $frontEl );
  $flip.append( $backEl );

  // add flip container & link to make container
  $a = $(  '<a>' ).attr( 'href', data.url );
  $a.append( $flip );
  $makeContainer.append( $a );

  // add to gallery & packery
  $mainGallery.append( $makeContainer );
  packery.appended( makeContainer );

  // re-layout
  packery.layout();
}

// set up Packerly
var packery = new Packery( mainGallery, {
  gutter: 10,
  itemSelector: '.make'
});

// perform search
wm.doSearch( "featured", LIMIT, searchCallback);

// set up mouse over handlers
$makeTemplate.mouseenter(function(e){
  $( '.flipContainer', this ).toggleClass('flip');
});

$makeTemplate.mouseleave(function(e){
  $( '.flipContainer', this ).toggleClass('flip');
});
  </script>
{% endblock %}
